/* HEADER */
header{
    height: 4.375rem;
}
.ms-big-logo{
    display: none;
}
.ms-search-bar{
    height: 2.5rem;
    border-radius: .3125rem;
}
.ms-bg-lightgrey{
    background-color: #e5e5e5;
}
.ms-search-bar-input{
    width: 100%;
    border: none;
    outline: none;
}
.ms-fa-block{
    color: #5b5858;
    display: none;
}
.fa-bell{
    color: #ff8f00;
    cursor: pointer;
}
/* MAIN */
main{
    height: calc(100vh - 4.375rem);
    overflow-y: auto;
}
/* MAIN-ASIDE */
#ms-aside{
    width: 4.375rem;
    background-image: url(img/sidebar-bg.png);
    flex-shrink: 0;
    height: 100%;
}
#ms-aside ul{
    list-style: none;
}
#ms-aside span{
    display: none;
}
.ms-bg-darkblue{
    background-color: #051e34;
}
/* MAIN-HEADER */
#ms-main-header{
    height: 16.25rem;
    width: 100%;
}
.ms-bg-blue{
    background-color: #1b72e8;
}
.ms-bg-span{
    background-color: #165bba;
    border-radius: .9375rem;
}
.ms-btn{
    border-color: #fff;
}
.ms-ghost{
    display: none;
}
/* MEDIAQUERI */
@media (min-width: 767.98px){
    #ms-main-header{
        height: 9.5rem;
    }
}
@media (min-width: 992px) {
    .ms-small-logo, .ms-none{
        display: none;
    }
    .ms-big-logo, .ms-fa-block{
        display: block;
    }
    #ms-aside{
        width: 9.375rem;
    }
    #ms-aside span, .ms-ghost{
        display: inline-block;
    }
}
